## Build outputs
[Bb]in/
[Oo]bj/
x64/
x86/
[Ll]og/
*.log

## MSBuild
*.Build.CppClean.log
*.tlog/
*.recipe
*.FileListAbsolute.txt
*.AssemblyReference.cache
*.CoreCompileInputs.cache
*.Up2Date
*.build.force
*.pch
*.lastbuildstate
*.metagen

## NuGet
*.nupkg
*.snupkg
*.nuspec.txt
nuget.exe
packages/
.nuget/

## Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
[Dd]ebug/
[Rr]elease/
*.VC.db
*.VC.VC.opendb
*.pidb
*.sdf
ipch/
*.opensdf
*.aps
*.ncb
*.opendb
*.pdb
*.ilk

## VS Code
.vscode/

## Temp / backup
*.bak
tree.txt
